<script type="text/ng-template" id="templateChangePassword">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input id="form-current-password" type="password" class="form-control" placeholder="Current password">
                    </div>
                    <hr>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input id="form-new-password" type="password" class="form-control" placeholder="New password">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input id="form-confirm-new-password" type="password" class="form-control" placeholder="Confirm new password">
                    </div>
                </div>
                <div class="box-footer">
                    <div ng-bind-html="changePasswordNotification"></div>
                    <div class="pull-right">
                        <button class="btn btn-primary" ng-click="changePassword($event)">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>