<script type="text/ng-template" id="templateSupportCase">
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-check-square-o"></i> {{supportcase.title}}
                    <small class="pull-right">Date: {{supportcase.startdate}}</small>
                </h2>
            </div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <p ng-if="supportcase.status"><b>Status:</b> {{supportcase.status.name}}</p>
                <p><b>Last modified:</b> {{supportcase.lastmodifieddate}}</p>
                <p ng-if="supportcase.custevent1"><b>Support level:</b> {{supportcase.custevent1.name}}</p>
            </div>
            <div class="col-sm-4 invoice-col">
                <p ng-if="supportcase.issue"><b>Category:</b> {{supportcase.issue.name}}</p>
                <p ng-if="supportcase.category"><b>Type:</b> {{supportcase.category.name}}</p>
                <p ng-if="supportcase.origin"><b>Origin:</b> {{supportcase.origin.name}}</p><br>
            </div>
        </div>
    </section>
    <br><br>
</script>