<script type="text/ng-template" id="templateTransactions">
<div class="box-body">
    <div id="transactions_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
            <div class="col-sm-12">
                <table id="transactions" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc text-uppercase" tabindex="0" aria-controls="transactions" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Transaction id: activate to sort column descending">Transaction Id</th>
                            <th class="sorting text-uppercase" tabindex="0" aria-controls="transactions" rowspan="1" colspan="1" aria-label="Transaction date: activate to sort column ascending">Transaction date</th>
                            <th class="sorting text-uppercase" tabindex="0" aria-controls="transactions" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending">Amount</th>
                            <th class="sorting text-uppercase" tabindex="0" aria-controls="transactions" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd" ng-repeat="transaction in transactions">
                            <td class="sorting_1" ng-click="transactionMenu($event)" style="cursor:pointer"><a href="#"><u>{{transaction.tranid}}</u></a><input type="hidden" value="{{transaction.internalid}}"><input type="hidden" value="{{transaction.type}}"></td>
                            <td>{{transaction.trandate}}</td>
                            <td>{{transaction.amount}}</td>
                            <td><span class="label label-primary">{{transaction.status}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</script>